<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>1</ion-slide>
    <ion-slide>2</ion-slide>
    <ion-slide>3</ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToPrevSlide()">prev</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToNextSlide()">next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>